node_modules
*.lock
server/credencials.js
Database/
device/Exemplo Gps
tests/
*/code.py
server/app.yaml
server/secrets/*
device/src/FEIS81KJH6JAVDT/FEIS81KJH6JAVDT.ino
tester/data/*
*/.env
tester/data.txt
